* {
  box-sizing: border-box;
}

.site-wrap {
  box-sizing: border-box;
  border: black solid 3px;
  max-width: 500px;
  margin: auto;
  margin-top: 1rem;
  background-color: darkslategrey;
}

/* Responsive Styles */

/* Mobile first (by default handled, but still) */
@media (max-width: 480px) {
  .site-wrap {
    width: 90%;
    padding: 1rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .site-wrap {
    width: 80%;
    padding: 1.5rem;
  }
}

/* Laptops and small desktops */
@media (min-width: 769px) and (max-width: 1200px) {
  .site-wrap {
    width: 70%;
    padding: 2rem;
  }
}

/* Large desktops */
@media (min-width: 1201px) {
  .site-wrap {
    width: 60%;
    padding: 2rem;
  }
}


body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: black;
  color: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  max-width: 500px;
  margin: auto;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: #54D1F0;
  color: black;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap : 0.6rem;
  font-size: medium;
  font-weight: bold;
}

.image-icon {
  margin-top: 0.4rem;
}

.meme {
  position: relative;
}

.meme--image {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  border-radius: 3px;
  max-width: 400px;
  max-height: 300px;
  margin-top: 5rem;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

